
.phone,.ipone_en { display: none !important; }
.container { width: 14rem; margin: auto; height: 100%; position: relative; z-index: 1; }



/* footer */
.footer {
	/* height:4.5rem;	 */
	/* overflow-x: hidden;
	overflow-y: visible ; */
	/* margin-top: 1rem; */
	background-color: #003F43;
	background-image: url(../img/icon/ft-bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom:0;
	/* background: -webkit-linear-gradient(left, rgba(0,63,67,1) 50%, rgba(255,255,255,0 ) 50%);
	background: -moz-linear-gradient(left, rgba(0,63,67,1) 50%, rgba(255,255,255,0 ) 50%);
	background: -ms-linear-gradient(left, rgba(0,63,67,1) 50%, rgba(255,255,255,0 ) 50%);
	background: linear-gradient(left, rgba(0,63,67,1) 50%, rgba(255,255,255,0 ) 50%); */
	
}



.fidlef { position: relative; z-index: -1; height: 100%; transform: translateY(-100%); padding: 0 !important;  }
.footer .orange_linear_gradient,
.footer .lightgreen_linear { width: 100vw; bottom: 0; left: 0; }

.footer .container { height: 100%; padding: 100px 0 55px; }

.ft-logo {width: 100%; text-align: center; margin-bottom: 70px;}
.ft-logo img { max-width: 100%; display: block; margin: auto;}

.ft-xiaoxun { margin-bottom: .5rem; color: #fff; }
.ft-xiaoxun h6 { font-size:24px;  line-height: 1; margin-bottom: .15rem; }
.ft-xiaoxun span { font-size: 16px; }


.ft-menu { width: 100%; margin-bottom: 5px;  }
.ft-menu ul { list-style: none; padding: 0; text-align: center; }
.ft-menu ul li { display: inline-block; }
.ft-menu ul li a { 
	font-size: 16px; 
	color: #fff; 
	display: inline-block; 
	text-decoration: none; 
	padding: 0 .3rem; 
	border-right: 1px #fff solid;
	line-height: 1;
	opacity: .8;
}

.ft-menu ul li:last-child a { border: none; }

.copyright {
    color: #fff;
    font-size: 16px;
	line-height: 1.8;
	font-weight: lighter;
	text-align: center;
	opacity: .8;
}
.copyright a{color: #fff; text-decoration:none;}
.copyright p{ line-height:2;}

.copyright span { display: inline-block; padding-right: 5px; color:#FFF; }

.copyright span:last-child { display: block; }



.floo-1 { 
	background-color: #fff;
	/* background-image: url(../img/bg-1.png); */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	z-index: 1;
}

.floo-2 { 
	overflow: hidden;
	background-color: #fff;
	/* background-image: url(../img/bg-2.png); */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	z-index: 1;
}



.share { position: absolute; top: 0; right: 0; padding: .25rem; z-index:5;  display: flex; justify-content: flex-end; flex-flow: row nowrap; }
.share a { display: block; position: relative; z-index: 1; width: auto; height: auto; margin-left: 15px; }
.share em { display: block; width: .5rem; height: .5rem; background-repeat: no-repeat; background-size: auto 70%; background-position: center center; }

.share p.share_ewm {
	display:none;
	width: 1.35rem;
    max-width: unset;
    height: auto;
    /* border: 5px #fff solid; */
  /*  border-radius: 5px; */
    position: absolute;
    top: 0.61rem;
    left: 50%;
    transform: translateX(-50%);
	z-index: -1;
	opacity: 0;
	transition: all .35s;
}

.share p.share_ewm img { width: 100%; }

.share p.share_ewm::after {
	content: "";
	width: 0;
	height: 0;
    border: 12px transparent solid;
    border-top: 0;
    border-bottom: 15px #fff solid;
    position: absolute;
    top: -10px;
    left: 50%;
	transform: translateX(-50%);
}

.share a:hover p.share_ewm {
	z-index: 5;
	opacity: 1;
	display: block;
	transition: all .35s;
}


.icon-wechat { background-image: url(../img/icon/icon-wx.png); }
.icon-sina { background-image: url(../img/icon/icon-sina.png); }


.backtop {
	width: .5rem;
	height: .5rem;
	background-color: #2bb7b3;
	background-image: url(../img/icon/icon-backtop.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 57%;
	position: fixed;
	bottom: 5vh;
	right: 3vh;
	z-index: 25;
	display: none;
}





/* 固定导航 */
#menu_icon{
	position: fixed;  
	top:185px; right:0; 
	background: #fff; 
	z-index: 100; 
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s; 
	opacity: 0.7;
    background: transparent;
 }
 
#menu_icon ul { list-style: none; padding: 0; }

#menu_icon li {
	height: 60px;
	background: #000;
	margin-bottom: 1px;
	display: block;
	line-height: 60px !important;
	color: #2bb7b3;
	width: 180px;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(20px,0,0);
	transform: translate3d(20px,0,0);
}

#menu_icon li a {
    display: block;
    width: 100%;
    color: #2bb7b3;
	text-decoration: none;
    position: absolute;
    top: -2px;
    width: 180px;
    height: 60px;
    line-height: 60px;
}

#menu_icon li i { width:24px; height:36px; display: inline-block; float: left; margin:14px 20px;} 

#menu_icon li:nth-child(1) i{background: url("https://www.sustech.edu.cn/static/images/icon_y1_g.png") no-repeat center; background-size:100%;}
#menu_icon li:nth-child(2) i{background: url("https://www.sustech.edu.cn/static/images/icon_y2_g.png") no-repeat center; background-size:100%;}
#menu_icon li:nth-child(3) i{background: url("https://www.sustech.edu.cn/static/images/icon_y3_g.png") no-repeat center; background-size:100%;}
#menu_icon li:nth-child(4) i{background: url("https://www.sustech.edu.cn/static/images/icon_y4_g.png") no-repeat center; background-size:100%;}

#menu_icon li:nth-child(1):hover i{background: url("https://www.sustech.edu.cn/static/images/icon_y1_w.png") no-repeat center; background-size:100%;}
#menu_icon li:nth-child(2):hover i{background: url("https://www.sustech.edu.cn/static/images/icon_y2_w.png") no-repeat center; background-size:100%;}
#menu_icon li:nth-child(3):hover i{background: url("https://www.sustech.edu.cn/static/images/icon_y3_w.png") no-repeat center; background-size:100%;}
#menu_icon li:nth-child(4):hover i{background: url("https://www.sustech.edu.cn/static/images/icon_y4_w.png") no-repeat center; background-size:100%;}

#menu_icon li:hover {  background: #2bb7b3;  color: #fff;  transform: translate3d(0,0,0); }
#menu_icon li:hover a { color: #fff;}

#menu_toggle:hover {  cursor: pointer; }

#myModal .mdui-icon {
    color: #666;
    vertical-align: middle;
}


.search_form {
    width: 70% !important;
    height: 45px !important;
}


#myModal{position: fixed; right:0;top: 0; width:582px; height:100vh; background: #fff;visibility: hidden;z-index: 100;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 1s;background:rgba(0,0,0,.8);
}
.js-overlay #menu_icon{visibility: visible; -webkit-animation: 1s ease fadeoutright  forwards; overflow: hidden;}
.js-overlay1 #menu_icon{visibility: visible; -webkit-animation: 1s ease fadeinright forwards; overflow: hidden;}

.js-overlay #myModal{visibility: visible; -webkit-animation: 1s ease slideup forwards; overflow: hidden;}
.js-overlay1 #myModal{visibility: visible; -webkit-animation: 1s ease slidedown forwards; overflow: hidden;}
.menu_close{width:100%; height:60px; border-bottom: 1px solid #666; position: relative;padding-left: 15px;  padding-top: 5px;}
.menu_search{width:100%; height:45px;border-bottom: 1px solid #666; position: relative;}
.m_home {
    width: 60px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 120px;
    top: 0;
    border-left: 1px solid #666;
}

.m_home a { text-decoration: none; }

.w_pc { display: block; padding-top: 15px; }
.new-h { margin-left: 17px; }

#myModal .sina-logo .fa {  color: #666; }

.m_lang{width:60px; height:45px; display: flex;align-items: center;justify-content: center; position: absolute; right:60px; top:0;border-left: 1px solid #666; }
.m_lang a{ color:#666; text-decoration: none;}
.m_close{width:60px; height:45px; display: flex;align-items: center;justify-content: center;position: absolute; right:0; top:0; z-index: 8;  border-left: 1px solid #666;}
.serch_icon{ font-family:"Material Icons"; width:60px;padding:0;margin:0; height:45px; display: flex;align-items: center;justify-content: center;position: absolute; right:0; top:0px; background: transparent; border: none; outline: none;}
.search_form{ width:440px;  height: 60px;display: flex;align-items: center; padding-left: 30px; position: relative; z-index: 1; }
.search_form input{outline: none; height:60px; border:none; width:60%; margin-left: 20px; background: transparent; color:#666; font-size:18px;}
.search_text{color: #444; font-size:20px; text-transform: capitalize; font-weight: normal;}
.search-left .span1 .fa{  margin-left:5px;}
#menu-main-menu>li i{color: #ccc; font-family:"Material Icons"; font-style: normal; }
#menu-main-menu>li.prosahover>a{ color: #2bb7b3; }
#menu-main-menu>li.prosahover>a i{ color: #2bb7b3 ; }
#myModal .sub_menu1>li>a:hover{ color: #2bb7b3 !important; text-decoration: none; border-bottom: 1px solid #2bb7b3 !important; }

.sina-logo span {
    font-size: 20px !important;
    color: #fff;
    margin-left: 5px;
}


.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/* 三级导航 */
#myModal .sub_menu1 {
    position: absolute;
    z-index: 999999;
    left: 155px;
    top: 0;
    width: 214px;
    height: auto;
    transition: all .6s ease;
}

#myModal .sub_menu1 li ul{display:none;position:absolute;left:160px;top:40px;width:100%;background:#081313;padding:10px;}
#myModal .sub_menu1 li:hover ul{display:block !important;}
#myModal .sub_menu1 li ul li{width:100%;}
#myModal .sub_menu1 li ul li a{font-size:16px; color:#fff; width: 200px; border-bottom: 1px solid #666;padding-bottom: 5px;margin-bottom:10px; display: block;width:100%;}
#myModal .sub_menu1 li ul li a:hover{ color: #2bb7b3 !important;border-bottom: 1px solid #2bb7b3 !important; }

#myModal .sub_menu1 li:nth-child(3) ul{top:85px;}
#myModal .sub_menu1 li:nth-child(4) ul{top:130px;}
#myModal .sub_menu1 li:nth-child(5) ul{top:175px;}
#myModal .sub_menu1 li:nth-child(6) ul{top:220px;}
#myModal .sub_menu1 li:nth-child(7) ul{top:265px;}
#myModal .sub_menu1 li:nth-child(8) ul{top:310px;}
#myModal .sub_menu1 li:nth-child(9) ul{top:355px;}
#myModal .sub_menu1 li:nth-child(10) ul{top:400px;}

@media screen and (max-width:768px) {
	#myModal .sub_menu1 li:hover ul{display:none;}
}

#header-menu{padding-top:40px; padding-left: 30px;}
#header-menu ul { list-style: none; }
#menu-main-menu>li{position: relative;color: #333; height:30px; line-height: 30px; margin-bottom:20px; width:50%;}
#myModal .h_green:hover{background: #2bb7b3; color:#fff;}
#myModal .h_green:hover i{ color:#fff !important;}
#myModal .h_green:hover a{ color:#fff !important;}
#menu-main-menu>li>a{ color: #fff; font-size:22px; text-decoration: none;  }
#myModal .sub_menu1>li>a{font-size:16px; color:#fff; width: 200px; border-bottom: 1px solid #666;  text-decoration: none;  padding-bottom: 5px;margin-bottom:10px; display: block;}
#myModal .menu_list{margin-top:100px; padding-top:30px; border-top:1px solid #666; padding-left: 60px;}
#myModal .menu_list a{font-size:14px;  display: block; float: left; width:20%; color:#666; margin-bottom: 15px; position: relative;   transition: all 0.4s ease;}
#myModal .menu_list a:before{content: ''; position: absolute; width: 3px; height:15px; background:#2bb7b3 ; left: -10px; top:3px; display: none;   transition: all 0.4s ease; }

#myModal .menu_list a:hover{color:#2bb7b3 }
#myModal .menu_list a:hover:before{display: block;}
#myModal .hide{opacity: 0; display: none;}
/* #myModal .sub_menu1 {position: absolute;z-index: 999999;left: 120px; top: 0;width: 214px;height: auto;    transition: all .6s ease;} */
/*#myModal .sina-logo {  position: absolute;  left: 60px;  bottom: 20px; }*/
#myModal .sina-logo a{color: #666;}
#myModal .sina-logo .fa{color: #666;}
#myModal .menu_copy{  color: #666;  font-size: 12px; }
.menu_copyright{padding-left:30px;}
#myModal .menu_copy a{color: #666; }
.js-overlay::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(0,63,67,0.5) 0%,rgba(0,63,67,1) 100%);
    background: linear-gradient(to bottom, rgba(0,63,67,0.5) 0%,rgba(0,63,67,1) 100%);
    content: '';
    opacity: 0;
}

/*4-4*/
.js-overlay::before{visibility: visible; -webkit-animation: 1s ease slideup1  forwards; z-index: -1; }
.js-overlay1::before{visibility: visible; -webkit-animation: 1s ease slidedown1 forwards; }

@-webkit-keyframes slideup1 {
    0% {
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slidedown1 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes slideup {
    0% {
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }
    100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@-webkit-keyframes slidedown {
    0% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    100% {
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }
}
@-webkit-keyframes fadeinright {
    0% {
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
    }
    100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}
@-webkit-keyframes fadeoutright {
    0% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    100% {
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
    }
}


/* 外链 */
.new-h a {
    display: inline-block;
    padding: 0 8px !important;
    color: #fff !important;
    font-size: 14px;
    opacity: .8;
    text-decoration: none !important;
    border-bottom: none;
    border-left: 2px transparent solid;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.new-h a:hover {   border-left: 2px #2bb7b3 solid;   color: #2bb7b3 !important;   opacity: 1;   transition: all .3s;    -webkit-transition: all .3s; }

.new_navpanle .new-h p span{ position:relative; z-index:9;}
.new_navpanle .new-h p span span{ position:absolute; left:0; top:20px; width:120px; background:rgb(255,255,255,.9); padding:10px; border-radius:5px; display:none;}
.new_navpanle .new-h p span:hover span{ display:block;}
.new_navpanle .new-h p span span a{ color:#000 !important; line-height:30px;}

.new-h.w_wap {   display: none; }

#bing {
    width: 65%;
    height: 44px;
    margin-left: 0px;
    padding: 0;
    background: transparent;
    color: #666;
    font-size: 18px;
}

.search_form input {
    outline: none;
    height: 60px;
    border: none;
    width: 60%;
    margin-left: 20px;
    background: transparent;
    color: #666;
    font-size: 18px;
}

@media screen and (min-width: 1921px) {
	.w_wap {
	    display: none;
	}
}



.m_home {  right: 20% !important; }

.h_green {  width: 10% !important;  height: 45px !important; }

.m_lang { right: 10% !important; }
#myModal .menu_list {    height: 0 !important;    border-top: none !important;}

.wx_hide {
    display: none;
    position: absolute;
    width: 80px;
    top: -70px;
    left: -18px;
}

#myModal .sina-logo {  position: inherit;  padding: 10px 30px; }
#myModal .menu_copy {  position: inherit;  padding: 0 30px; }
.sina-logo .fa {   font-size: 14px !important; }


/* 固定导航-end */




/* 移动端banner */
.scroll_img {
    display: none;
    height: 100vh;
    position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
    z-index: 0;
}

.splash_scroller {
    bottom: 15px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
    margin: 0;
    padding: 3em 0 0;
    position: absolute;
    z-index: 2;
}

.splash_scroller i.mdui-icon { margin: 0; text-align: center; line-height: 1; }

.splash_scroller a { font-size: 18px;  color: #fff; }



/* 链接 */
.xb_menu {
    /* width: 1150px; */
    margin: 0 auto;
    text-align: center;
	opacity: 0;
	transition: all .35s;
    /* height: 195px; */
   /* padding-top: 60px; */
}

.xb_menu ul {  height: 85px; }

.xb_menu li {  width: 12.5%; 
   /* width: 10%; */
    float: left;
    list-style: none;
}

.xb_menu a {  text-decoration: none; }

.xb_icon {
     font-family:"Material Icons" ;
    color: #2bb7b3;
    font-size: 36px;
    line-height: 1;
}

.xb_icon i { color: #2bb7b3;  }

.xb_wrap .mdui-icon {  margin: 0 15px;}

.xb_intro {  font-size: 14px;  color: #333;   margin: 13px 0 5px 0; }
.xb_line {
    width: 50%;
    height: 2px;
    background: #2bb7b3;
    margin: 0 auto;
    opacity: 0;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}



/* 新菜单 */
.dot {
	position: fixed;
	top: 50px;
	right: 0;
	z-index: 8888;
	background-color: rgba(0,0,0,.75);
	padding: 20px;
	cursor: pointer;
	/* transform: translateX(0); */
	transition: all .35s;
}

.dot span {
	display: block;
	width: 45px;
	border-top: 5px #fff solid;
	margin-bottom: 10px;
}

.dot span:last-child { margin-bottom: 0; }

.transOut {
	transform: translateX(100%);
	transition: all .35s;
}


.new_navpanle { 
	width: 100%; 
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: rgba(0,0,0,.9);
	color: #fff;
	padding-top: 1.9rem;
	display: none;
}

.ht-logo { width: 50%; padding: 0 50px; position: absolute; top: .37rem; }
.ht-logo img { height: .6rem; }


.new_navpanle .close {
	width: 30px;
	height: 30px;
	background-image: url(../img/icon/clos.png) ;
	background-repeat: no-repeat;
	background-position: center center;
	/* border: 1px #fff solid; */
	position: absolute;
	right: 50px;
	top: 50px;
	z-index: 1;
	opacity: 1;
}

.new_navpanle .close .mdui-icon {
	color: #fff;
	line-height: 50px;
	font-size: 45px;
	font-weight: lighter;
}

.mode-search { width: 100%; height: 50px;	 margin-bottom: 50px; margin-top:-0.2rem}

.search_box { 
	width: 7.8rem; 
	height: 100%;	
	float: left;
	border: 1px rgba(255,255,255,.5) solid;
}

.search_box form {
	width: 100%;
	height: 100%;
	padding: 0 15px;
	position: relative; 
	z-index: 1;
	overflow: hidden;
}

.search_box input#bing2 {
	display: block;
	height: 100%;
	width: 100%;
	color: #fff;
	border: none;
	outline: none;
	background-color: transparent;
	line-height: .5rem;
	font-size: 18px;
	color: rgba(255,255,255,.5);
} 

.search_box button#dianji2 {
	display: block;
	height: 100%;
	width: 50px;
	line-height: 50px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	padding:0;
	
}

.search_box button#dianji2 i.mdui-icon { 
	font-size: 32px; 
	margin: 0;
	color: rgba(255,255,255,.5); 
}


.officelink {
	width: calc(100% -  8rem);
	height: 100%;
	float: left;
	text-align: right;
	padding: 8px 0;
	float:right;
}

.officelink ul { width: 100%; height: 100%; list-style: none;  float: right;}

.officelink ul a {
	display: inline-block;
	text-decoration: none;
	/* float: right; */
	color: #808080;
	font-size: 16px;
	padding: 0 15px ;	
	line-height: 1;
	border-right:1px  rgba(255,255,255,.5) solid ;
	margin-bottom: 8px;
}

.officelink ul a:last-child { border: none; padding-right: 0; }
.officelink ul a:hover { color: #2bb7b3; }

.new-menu_tree { width: 100%;}
.new-menu_tree ul {  width: 100%;list-style: none; padding: 0; }
.new-menu_tree ul li {
	float: left;
	width: calc(100% / 9);
	height: auto;
	line-height:1.5;
}

.new-menu_tree ul li a { display: inline-block; color: #808080; text-decoration: none; }

.new-menu_tree ul li h3 {
	font-size: 24px;
	font-weight: bold;
	border-bottom: 1px #808080 solid;
	padding-bottom: .35rem;
	margin-bottom: .4rem;
}

.new-menu_tree ul li .child-item {	width: 100%; }
.new-menu_tree ul li .child-item ol { list-style: none; padding: 0; padding-right: 10px;}

.child-item ol li {
	width: 100%;
	float: none;
	margin-bottom: 15px;
}
.child-item ol li ul li{margin-bottom: 15px;}

.child-item ol li a {
	border-bottom: 1px transparent solid;
	padding-bottom: 5px;
	font-size: 16px;
	transition: all .35s;
}

.new-menu_tree ul li:hover a { color: #fff; }

.child-item ol li:hover a {
	color: #2bb7b3 !important;
	border-color: #2bb7b3;
	transition: all .35s;
} 



/* 新菜单-end */
